/*Header*/

/*
- Arrumar o input pro texto ficar igual do site
- Deixar a barra de pesquisa perto das setas igual do site
- Estilizar o scroll da sidebar
- Ver sobre o height da library e do main-content
- Adicionar uns hovers nos botões
- Adicionar mais APIs JSON
*/

.main-content {
    max-width: 80vw;
    height: 100vh;
    padding: 8px;
    margin-left: 316px;

    /*background-color: peru;*/
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    border-radius: 8px;
    background-color: #121212;
}

.header-navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.header-login {
    display: flex;
    align-items: center;
}

.header-search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header-search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header-search input {
    background: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header-login .subscribe {
    color: #a7a7a7; /*variavel nome --text-sub*/
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
}

.header-login .login {
    width: 100px;
    height: 48px;
    color: #000; /*variavel nome --text-base-dark*/
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}

/*Hover*/

.header-search:hover {
    border: 1px solid #fff;
}

.header-login .subscribe:hover {
    transform: scale(1.04);
    color: var(--text-base-light); /*criar essa variavel*/
}

.header-login .login:hover {
    transform: scale(1.04);
}

/*Cards*/

.cards-container {
    height: 68vh;
    padding-top: 16px;
    margin: 8px 0 8px 0;
    border-radius: 10px;
    background-color: #121212;
}

.cards-greetings {
    margin: 24px;
}

.cards-greetings #greetings {
    color: var(--text-base-light); /*criar essa variavel*/
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.cards-greetings .session {
    color: var(--text-base-light); /*criar*/
    font-size: 24px;
    font-weight: 700;
}

.offer-scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}

/*Scroll*/

.offer-scroll-container::-webkit-scrollbar {
    width: 3px;
}

.offer-scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}