body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

/*Sidebar*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 8px;
    width: 300px;

    /*background-color: green;*/
}

.sidebar-navigation, .library {
    background-color: #121212;
    border-radius: 8px;
}

.sidebar-navigation .logo{
    padding: 16px 0 0 16px;
}

.logo img {
    width: 80px;
}

.sidebar nav ul  {
    margin-top: 12px;
    padding: 0 20px 10px;
}

.sidebar ul li {
    padding: 10px 0px;
}

.sidebar nav ul li a, .library-menu a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 0 4px;
}

.library {
    margin-top: 8px;
    padding-bottom: 8px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.library-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
}

.library-menu a {
    display: flex;
    align-items: center;
    gap: 0 4px;
}

#plus {
    color: #b3b3b3;
    font-size: 16px;
}

.library-content {
    max-height: 85px;
    overflow-y: scroll;
}

.library-content::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
}

.library-content::-webkit-scrollbar-thumb {
    background-color: rgba(167, 167, 167, 0.0);
    /*visibility: hidden;*/
}

.library:hover .library-content::-webkit-scrollbar-thumb {
    background-color: rgba(167, 167, 167, 0.3);
    animation: show-scroll 5s;
    /*visibility: visible;*/
}

/*Animation*/
@keyframes show-scroll {
    from {background-color: rgba(167, 167, 167, 0.0);}
    to {background-color: rgba(167, 167, 167, 0.3);}
}

.library-playlist, .library-podcast {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 15px;

    margin: 8px;
    padding: 16px 20px;
    border-radius: 6px;
}

.library-playlist-content, .library-podcast-content {
    display: flex;
    flex-direction: column;
}

.library-playlist-button, .library-podcast-button {
    display: flex;
    justify-content: center;

    background-color: white;
    border: 0;
    border-radius: 20px;

    color: #000;
    font-size: 14px;
    font-weight: 600;

    padding: 12px 14px;
    margin-top: 10px;
    width: 133px;
}

.library-podcast-content .library-podcast-button {
    width: 163px;
}

.library .cookies {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.library .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 15px 8px 0;
}

.library .cookies a:hover {
    text-decoration: underline;
}

.languages .languages-button {
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;

    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;

    align-items: center;
    width: 180px;
    margin: 20px 0 30px 20px;
    padding: 8px;
}

.icon {
    font-size: 20px;
    margin-right: 10px;
}

.text {
    padding-bottom: 14px;
    color: white;
}

.title {
    font-weight: 700;
}

.subtitle {
    font-weight: 500;
    font-size: 14px;
}

/*Footer Message*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    background: linear-gradient(90deg, rgba(209,0,194,1)0%, rgba(157,4,212,1) 39%, rgba(69,209,217,1) 100%);
    
    bottom: 8px;
    left: 8px;
    right: 8px;
    padding: 15px 30px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff;
}

.premium-button {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 0;
    border-radius: 25px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 18px;
    width: 183px;
}