.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
    background-color: black;

    display: flex;
    flex-direction: column;
}

.sidebar-navigation, .library {
    background-color: #121212;
    border-radius: 8px;
}

.sidebar-navigation .logo{
    display: flex;
    padding: 16px 0 0 16px;
}

.logo img {
    width: 80px;
}

.sidebar nav ul  {
    margin-top: 12px;
    padding: 0 20px 10px;
}

.sidebar ul li {
    padding: 10px 0px;
}

.sidebar nav ul li a, .library-menu a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 0 4px;
}

.icon {
    font-size: 20px;
    margin-right: 10px;
}

.library {
    margin-top: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.library-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
}

.library-menu a {
    display: flex;
    align-items: center;
    gap: 0 4px;
}

#plus {
    color: #b3b3b3;
    font-size: 16px;
}

.library-playlist, .library-podcast {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 15px;
    margin: 8px;
    padding: 16px 20px;
    border-radius: 6px;
    font-family: "DM Sans", sans-serif;
}

.library-playlist .library-playlist-content, .library-podcast-content {
    display: flex;
    flex-direction: column;
}

.library-playlist-content .text, .library-podcast-content .text {
    padding-bottom: 14px;
    color: white;
}

.library-playlist-content .title, .library-podcast-content .title {
    font-weight: 700;
}

.library-playlist-content .subtitle, .library-podcast-content .subtitle {
    font-weight: 500;
    font-size: 14px;
}

.library-playlist-content .library-playlist-button, .library-podcast-content .library-podcast-button {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 0;
    border-radius: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    padding: 12px 14px;
    margin-top: 10px;
    width: 133px;
}

.library-podcast-content .library-podcast-button {
    width: 163px;
}

.library .cookies {
    margin: 10px;
}

.library .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
}

.library .cookies a:hover {
    text-decoration: underline;
}

.languages .languages-button {
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    width: 170px;
    margin: 8px;
    padding: 8px;
}